@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hostel Managemnet System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="Index_template/img/favicon.png" rel="icon">
    <link href="Index_template/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="Index_template/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="Index_template/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="Index_template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="Index_template/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="Index_template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="Index_template/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="Index_template/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: NewBiz
      Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="#intro" class="scrollto"><img src="Index_template/img/Hostel.png" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container">

            <div class="intro-img">
                <img src="Index_template/img/intro-img.svg" alt="" class="img-fluid">
            </div>

            <div class="intro-info">
                <h2>We provide<br><span>solutions</span><br>for your business!</h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="#services" class="btn-services scrollto">Our Services</a>
                </div>
            </div>

        </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Hostel Management System</h3>
                    <p>Welcome to Hostel Management System, your all-in-one solution for managing hostel operations efficiently.</p>
                </header>

                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <p>
                            Hostel Management System provides comprehensive features to manage hostel rooms, residents, staff, and generate reports effortlessly. With easy-to-use interfaces and powerful functionalities, managing your hostel has never been easier.
                        </p>

                        <div class="icon-box wow fadeInUp">
                            <div class="icon"><i class="fa fa-bed"></i></div>
                            <h4 class="title"><a href="">Room Management</a></h4>
                            <p class="description">Efficiently manage hostel rooms, assign room types, and track room occupancy.</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <h4 class="title"><a href="">Resident Management</a></h4>
                            <p class="description">Keep track of residents, manage check-ins and check-outs, and handle resident records.</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <h4 class="title"><a href="">Staff Management</a></h4>
                            <p class="description">Manage hostel staff, assign roles, and streamline staff operations.</p>
                        </div>

                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                        <img src="Index_template/img/about-img.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section><!-- #about -->
        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Our Services</h3>
                    <p>Explore the range of services we offer to meet your needs.</p>
                </header>

                <div class="row">

                    <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                            <h4 class="title"><a href="#">Web Development</a></h4>
                            <p class="description">From simple websites to complex web applications,</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="#">Mobile App Development</a></h4>
                            <p class="description">We design and develop mobile applications for iOS and Android platforms.</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="#">Graphic Design</a></h4>
                            <p class="description">Our creative team produces stunning graphics for branding, marketing.</p>
                        </div>
                    </div>

                    <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                            <h4 class="title"><a href="#">SEO & Digital Marketing</a></h4>
                            <p class="description">We optimize your online presence to increase visibility, attract leads.</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                            <h4 class="title"><a href="#">Consulting Services</a></h4>
                            <p class="description">Get expert advice and guidance on technology, strategy, and innovation .</p>
                        </div>
                    </div>
                    <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                            <h4 class="title"><a href="#">Support & Maintenance</a></h4>
                            <p class="description">
                                We provide ongoing support and maintenance services to ensure your digital
                                assets.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
          Why Us Section
        ============================-->
        <section id="why-us" class="wow fadeIn">
            <div class="container">
                <header class="section-header">
                    <h3>Why Choose Us?</h3>
                    <p>Discover the reasons why we stand out from the crowd.</p>
                </header>

                <div class="row row-eq-height justify-content-center">

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-check-circle"></i>
                            <div class="card-body">
                                <h5 class="card-title">Reliable Services</h5>
                                <p class="card-text">
                                    Count on us for reliable and efficient services that meet your needs and exceed your
                                    expectations.
                                </p>
                                <a href="#" class="readmore">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-thumbs-up"></i>
                            <div class="card-body">
                                <h5 class="card-title">Customer Satisfaction</h5>
                                <p class="card-text">
                                    We prioritize customer satisfaction and strive to ensure that every client is
                                    delighted with our work.
                                </p>
                                <a href="#" class="readmore">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-heart"></i>
                            <div class="card-body">
                                <h5 class="card-title">Passionate Team</h5>
                                <p class="card-text">
                                    Our team is passionate about what they do, bringing creativity, dedication, and
                                    expertise to every project.
                                </p>
                                <a href="#" class="readmore">Learn More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">300</span>
                        <p>Satisfied Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">500</span>
                        <p>Completed Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,500</span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">25</span>
                        <p>Team Members</p>
                    </div>

                </div>

            </div>
        </section>


        <!--==========================
          Portfolio Section
        ============================-->
        <!--==========================
          Clients Section
        ============================-->
        <section id="testimonials" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Testimonials</h3>
                </header>

                <div class="row justify-content-center">
                    <div class="col-lg-8">

                        <div class="owl-carousel testimonials-carousel wow fadeInUp">
                            <div class="testimonial-item">
                                <img src="Index_template/img/aifa.jpg" class="testimonial-img" alt="">
                                <h3>Aifa Ghafoor</h3>
                                <h4>Parther</h4>
                                <p>
                                    I am grateful for the professionalism and dedication shown by this team. They are truly experts in their field and deliver outstanding results.
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="Index_template/img/afia.jpg" class="testimonial-img" alt="">
                                <h3>Afia Zafar</h3>
                                <h4>Partner</h4>
                                <p>
                                    Exceptional service from start to finish. The team demonstrated deep expertise and provided valuable insights throughout the project. Highly recommended!
                                </p>
                            </div>
                            <div class="testimonial-item">
                                <img src="Index_template/img/ayesha.jpg" class="testimonial-img" alt="">
                                <h3>Ayesha Riaz</h3>
                                <h4><strong>Client</strong></h4>
                                <p>
                                    The service provided by the team was outstanding. They went above and beyond to ensure our satisfaction. Highly recommended!
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="Index_template/img/hanann.jpg" class="testimonial-img" alt="">
                                <h3>Hannan Altaf</h3>
                                <h4>Client</h4>
                                <p>
                                    Working with this team was a pleasure. They delivered exceptional results within the promised timeline. Very impressed!
                                </p>
                            </div>




                        </div>

                    </div>
                </div>


            </div>
        </section><!-- #testimonials -->
        <!--==========================
          Team Section
        ============================-->
        <section id="team">
            <div class="container">
                <div class="section-header">
                    <h3>Team</h3>
                    <p>Passionate Working team With the aim to Cross boundries Of web Development</p>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-md-12 wow fadeInUp">
                        <div class="member">
                            <img src="Index_template/img/afia.jpg" class="img-fluid" alt="" style="width: 500px; height: 500px;">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Afia Zafar</h4>
                                    <span><strong>Chief Executive Officer</strong></span>
                                    <p style="color: white;">With over 20 years of experience in business management, Walter White leads our company with a strategic vision and a commitment to excellence.</p>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="Index_template/img/aifa.jpg" class="img-fluid" alt="" style="width: 500px; height: 500px;">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Aifa Ghafoor</h4>
                                    <span><strong>Product Manager</strong></span>
                                    <p style="color: white;">Sarah Jhonson is our highly skilled Product Manager who ensures that our products meet the highest standards of quality and innovation.</p>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        <!-- #team -->
        <!--==========================
          Clients Section
        ============================-->
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact">
            <div class="container-fluid">

                <div class="section-header">
                    <h3>Contact Us</h3>
                </div>

                <div class="row wow fadeInUp">

                    <div class="col-lg-6">
                        <div class="map mb-4 mb-lg-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.689249301722!2d73.89897027517674!3d33.484238847509836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e3c3cb1fc05bed%3A0x92d313a2a8bb2347!2sUniversity%20of%20Kotli%2C%20Azad%20Jammu%20%26%20Kashmir!5e1!3m2!1sen!2s!4v1713085659443!5m2!1sen!2s"
                                    width="500" height="400" style="border:0;"
                                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-5 info">
                                <i class="ion-ios-location-outline"></i>
                                <p>University Of Kotli azad Kashmir</p>
                            </div>
                            <div class="col-md-4 info">
                                <i class="ion-ios-email-outline"></i>
                                <p>hostels@gmail.com</p>
                            </div>
                            <div class="col-md-3 info">
                                <i class="ion-ios-telephone-outline"></i>
                                <p>+925826960044</p>
                            </div>
                        </div>

                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                               data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                               data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                           data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                                              data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>HMS</h3>
                        <p>Efficiently manage hostel operations with our comprehensive system.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            University of Kotli Azad Kashmir <br>
                            Kotli Azad Kashmir<br>
                            Azad Kashmir <br>
                            <strong>Phone:</strong>+925826960044<br>
                            <strong>Email:</strong>hostel@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>



                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; <strong>Hostel Management System</strong>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="Index_template/lib/jquery/jquery.min.js"></script>
    <script src="Index_template/lib/jquery/jquery-migrate.min.js"></script>
    <script src="Index_template/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="Index_template/lib/easing/easing.min.js"></script>
    <script src="Index_template/lib/mobile-nav/mobile-nav.js"></script>
    <script src="Index_template/lib/wow/wow.min.js"></script>
    <script src="Index_template/lib/waypoints/waypoints.min.js"></script>
    <script src="Index_template/lib/counterup/counterup.min.js"></script>
    <script src="Index_template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="Index_template/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="Index_template/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="Index_template/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="Index_template/js/main.js"></script>

</body>

</html>